<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>INICIO</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="inicio.component.css">
</head>


<body>


      <section class = "conteiner1">
          <h1>Potencia tus estudios</h1>
          <h2>Confia en nosotros</h2>
 
          <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-4.79,83.39 C206.83,184.05 365.40,-20.20 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
          <!--<div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-5.92,65.63 C182.56,254.13 364.84,-18.23 510.44,107.08 L501.97,152.47 L0.00,150.00 Z" style="stroke: none; fill: #08f;"></path></svg></div>
          <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-7.05,111.03 C564.05,108.06 630.07,109.05 510.44,107.08 L501.97,152.47 L0.00,150.00 Z" style="stroke: none; fill: #08f;"></path></svg></div>
          --></section>




      <div class="razones">


        <div class="formulario">
          <div class="form">
              <img class="imagen" src="images/empresas9.png" alt="" width="550" height="360">
          </div>
        </div>


          <div class="porque">
              <h1>¿Por qué estudiar en xxxxxxxxx Online?</h1>
              <div class="contenedor-razon">
                  <div class="logo2">
                      <!--<img src="images/dweb.jpg">-->
                      <h2>Formacion 100% online</h2>
                    </div>


                  <div class="logo2">
                      <img src="images/dweb.jpg">
                      <h2>Acceso desde tu computadora</h2>
                    </div>
                </div>


              <div class="contenedor-razon">
                  <div class="logo2">
                      <img src="images/dweb.jpg">
                      <h2>Flexibilidad horaria</h2>
                    </div>


                  <div class="logo2">
                      <img src="images/dweb.jpg">
                      <h2>Certificados oficiales</h2>
                    </div>
                </div>


              <div class="contenedor-razon">
                  <div class="logo2">
                      <img src="images/dweb.jpg">
                      <h2>Apoyo de tutores en linea</h2>
                    </div>


                  <div class="logo2">
                      <img src="images/dweb.jpg">
                      <h2>Ahorro de tiempo y dinero</h2>
                    </div>
                </div>
          </div>  
      </div>
 


  <section class="destacados">
    <div class="titulo">
        <h1>Cursos destacados</h1>
        <h2>Lo ultimo en tendencias</h2>


        <div class="contenedor">
          <div class="logo1">
            <img src="images/dweb.jpg">
            <h2>Desarrollo web</h2>
            <p>Lading Pages <br> Websites <br> E-Commerce </p>
          </div>
         
          <div class="logo1">
            <img src="logo3.svg">
            <h2>Bases de datos</h2>
            <p> Administracion de bases <br> Mantenimiento y Actualizaciones <br> Seguridad de Datos </p>
          </div>


          <div class="logo1">
            <img src="logo4.svg">
            <h2>Diseño de Sistemas</h2>
            <p> Diseño UX/UI <br> Prototipados <br> Testing  </p>
          </div>
        </div>
    </div>
  </section>


</body>
</html>