<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
      rel="stylesheet"
      type="text/css"/>
    <link rel="stylesheet" href="footer.component.css">

    <title>Footer</title>
  </head>


<body>
    <footer>
        <div class="contenedor">
            <div class="item-1">
                <h2>Secciones</h2>
                <nav>
                <ul>
                    <li><a routerLink="/">Inicio</a></li>
                    <li><a routerLink="/cursos">Cursos</a></li>
                    <li><a routerLink="/ensenia">Enseña en X</a></li>
                    <li><a routerLink="/funcionamiento">Cómo funciona</a></li>
                </ul>
            </nav>
            </div>
            <div class="item-1">
                <h2>Contacto</h2>
                <ul>
                    <li>54 9 3416452329</li>
                    <li>XXXXXXXx@gmail.com</li>
                    <li>Rosario, Argentina.</li>
                </ul>
            </div>
            <div class="item-1">
                <h2>Follow US</h2>
                <ul>
                    <li>IG @xxxxxxx </li>
                    <li>FB xxxxxxx </li>
                    <li>linkedinusuario</li>
                </ul>
            </div>
        </div>
    </footer>
</body>