<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link
  href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
  rel="stylesheet"
  type="text/css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular y Bootstrap</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="registro.component.css">
 
  
  <style>
 
  </style>
</head>
<body>


  <div class="formulario">
    <form (ngSubmit)="crearAlumno()">
      <h1 class="titulo">¡Regístrate gratis ahora!</h1>
  
      <div class="contform1">
        <div class="form-elemento">
          <h3>Nombre</h3>
          <input type="text" class="form-control" name="name" id="name"  required="required" [(ngModel)]="alumno.name">
        
        </div>
  
        <div class="form-elemento">
          <h3>Apellido</h3>
          <input type="text" class="form-control" name="lastname" id="lastname"   required="required" [(ngModel)]="alumno.lastname">
        </div>
      </div>
  
      <div class="contform1">
        <div class="form-elemento">
          <h3>Email</h3>
          <input type="text" class="form-control" name="email" id="email"  required="required" [(ngModel)]="alumno.email">
        </div>
        
        <div class="form-elemento">
          <h3>Edad</h3>
          <input type="text" class="form-control" name="age" id="age"  required="required" [(ngModel)]="alumno.age">
        </div>
      </div>
      
      <button type="submit" class="form-button" id="submit">ENVIAR</button>
      <div class="separator"></div>  
      <div class="ud-text-sm">
          <span>¿Ya tienes una cuenta? <a class="ud-text-bold ud-link-underline" href="/join/login-popup/?locale=es_ES&amp;next=https%3A%2F%2Fwww.udemy.com%2Fes%2F&amp;response_type=html">Inicia sesión</a></span>
      </div>
    </form>
  </div>
     


  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>