<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
      rel="stylesheet"
      type="text/css"/>
    <link rel="stylesheet" href="header.component.css">

    <title>Header</title>
  </head>


<body>
    <header>
        <div class="contenedor">
            <nav>
                <ul>
                  <li><a routerLink="/">Inicio</a></li>
                  <li><a routerLink="/">Cursos</a></li>
                  <li><a routerLink="/">Enseña en X</a></li>
                  <li><a routerLink="/">Cómo funciona</a></li>
                </ul>
            </nav>
            <button class="login">Iniciar Sesion</a></button>
        </div>
    </header>
</body>