<mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile
        
        [colspan]="1"
        [rowspan]="1"
        style="background-color:rgb(40, 112, 175)">
        <img src="./assets/enseña3.jpg" alt="" width="100" height="100">
                <h2>Conseguí una recompensa</h2>
                <p> Amplía tu red profesional, desarrolla tus conocimientos y gana dinero con cada inscripción.</p>
      
    </mat-grid-tile>
    <mat-grid-tile
        
    [colspan]="1"
    [rowspan]="2"
    style="background-color:rgb(40, 112, 175)">
    <img src="./assets/enseña2.jpg" alt="" width="100" height="100">
                <h2>Inspirá a los estudiantes</h2>
                <p> Enseña lo que sabes y ayuda a los estudiantes a explorar sus intereses, adquirir nuevas habilidades y avanzar en sus carreras.</p>
  
</mat-grid-tile>
<mat-grid-tile
        
[colspan]="1"
[rowspan]="3"
style="background-color:rgb(40, 112, 175)">
<img src="./assets/enseña1.jpg" alt="" width="100" height="100">
                <h2>Enseña a tu manera</h2>
                <p>Publica el curso que quieras, como quieras y tene siempre el control de tu propio contenido.</p>

</mat-grid-tile>
<mat-grid-tile
        
[colspan]="2"
[rowspan]="1"
style="background-color:rgb(40, 112, 175)">
  <section class="form">
        <div class="formulario">
          <h1>Contactate con nosotros</h1>

          <form>
            <div class="contform1">
              <div class="form-elemento">
                <h3>Nombre</h3>
                <input type="text" class="form-control" name="name" id="name">
              </div>

              <div class="form-elemento">
                <h3>Email (requerido)</h3>
                <input type="text" class="form-control" name="email" id="email">
              </div>
            </div>

            <div class="contform1">
              <div class="form-elemento">
                <h3>Telefono (requerido)</h3>
                <input type="text" class="form-control" name="telefono" id="telefono">
              </div>
              
              <div class="form-elemento">
                <h3>Localidad (requerido)</h3>
                <input type="text" class="form-control" name="localidad" id="localidad">
              </div>
            </div>

            <div class="contform2">
              <div class="form-elemento">
                <h3>Mensaje</h3>
                <textarea name="message" id="message" cols="30" rows="10"></textarea>
              </div>
            </div>
              <button class="form-button" type="submit" id="submit">ENVIAR</button>
          </form>
        </div>
      </section>

</mat-grid-tile>
  </mat-grid-list>