<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
      rel="stylesheet"
      type="text/css"/>
    <link rel="stylesheet" href="ensenia.component.css">

    <title>Enseña</title>
  </head>

  <body>
    <div class="hero-header--billboard-container--sYvLn">
        <!--<img src="https://s.udemycdn.com/teaching/billboard-desktop-v4.jpg" srcset="https://s.udemycdn.com/teaching/billboard-desktop-v4.jpg 1x, https://s.udemycdn.com/teaching/billboard-desktop-2x-v4.jpg 2x" alt="" width="1800" height="600" class="hero-header--billboard--33iW1" loading="lazy">-->
        <div class="ud-container hero-header--text-container--ISi_T">
            <h1 class="ud-heading-serif-xxl teach-page__main-heading hero-header--title---4jCL">Vení a enseñar con nosotros</h1>
            <p class="ud-text-lg hero-header--subtitle--athYy">Convertite en instructor y ayuda a cambiar vidas, incluida la tuya</p>
           <!-- <button type="button" class="ud-btn ud-btn-large ud-btn-primary ud-heading-md hero-header--cta--3lLy8" data-purpose="bai-cta">
                <span>Empezar </span>
            </button>-->
        </div>
    </div>


<div class="container teach">
    <h2 class="head heading margin">Hay tantas razones para empezar</h2>
    <div class="cabeza">
        <div class="cabeza2 mod">
            <div class="item">
                <div class="item-img">
                    <img src="images/enseña1.jpg" alt="" width="100" height="100">
                </div>
                <div class="head2 cabeza3">Enseña a tu manera</div>
                <div class="cabeza3 cabeza4">Publica el curso que quieras, como quieras y tene siempre el control de tu propio contenido.</div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="images/enseña2.jpg" alt="" width="100" height="100">
                </div>
                <div class="head2 cabeza3">Inspirá a los estudiantes</div>
                <div class="cabeza3 cabeza4">Enseña lo que sabes y ayuda a los estudiantes a explorar sus intereses, adquirir nuevas habilidades y avanzar en sus carreras.</div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src="images/enseña3.jpg" alt="" width="100" height="100">
                </div>
                <div class="head2 cabeza3">Conseguí una recompensa</div>
                <div class="cabeza3 item3">Amplía tu red profesional, desarrolla tus conocimientos y gana dinero con cada inscripción.</div>
            </div>
        </div>
    </div>
</div>





    <div class="barra">
        <div class="ud-container cont">
            <div class="numeros">
                <div class="seccion">15K</div>
                <p>Estudiantes</p>
            </div>
            <div class="numeros">
                <div class="seccion">Más de 5</div>
                <p>Idiomas</p>
            </div>
            <div class="numeros">
                <div class="seccion">75K</div>
                <p>Inscripciones</p>
            </div>
            <div class="numeros">
                <div class="seccion">Más de 7</div>
                <p>Países</p>
            </div>
            <div class="numeros">
                <div class="seccion">Más de 150</div>
                <p>Clientes corporativos</p>
            </div>
        </div>
    </div>


    <section class="form">
        <div class="formulario">
             
            <h1>Animate a enseñar! / <a style="color: #3c45cc;">XXxNOMBRe</a></h1>
             <h2>probando</h2>
             <p>XXXX  <br> busca  <br> y brindar</p>
  
            <button href="#" class="contacto">Contactanos??</button>
        </div>
      </section>      


  </body>