<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
      rel="stylesheet"
      type="text/css"/>
    <link rel="stylesheet" href="cursos.component.css">
    <title>Cursos</title>
  </head>


<body>
  <h1>Nuestros Cursos</h1> 
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Filtrar por dificultad
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" (click)="filtrarPorCategoria('principiante')">Nivel Principiante</a></li>
      <li><a class="dropdown-item" (click)="filtrarPorCategoria('intermedio')">Nivel Intermedio</a></li>
      <li><a class="dropdown-item" (click)="filtrarPorCategoria('avanzado')">Nivel Avanzado</a></li>
      <li><a class="dropdown-item" (click)="reiniciar()">Todos</a></li>
    </ul>
  </div>
  

  <div class="contenedor">
    <div class="logo1" *ngFor="let curso of cursos">
      <ng-container *ngIf="categoriaSeleccionada === 'all' || curso.categoria === categoriaSeleccionada">
        <a [routerLink]="['/cursos', curso.id]">
          <img src="{{ curso.icono }}" alt="{{ curso.nombre }} icono">
        </a>
        <h2>{{ curso.nombre }}</h2>
        <p>{{ curso.descripcion }}</p>
      </ng-container>
    </div>
  </div>
  
  </body>