<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One"
      rel="stylesheet"
      type="text/css"/>
    <link rel="stylesheet" href="funcionamiento.component.css">

    <title>Funcionamiento</title>
  </head>


<body>
  <div class="func">    
    <div class="descrip">
        <h2>¿Cómo funciona Open English?</h2>
        <p>¡Es muy fácil! Solo abre tu computadora y toma nuestras
            clases en vivo de forma ilimitada, cada media hora, las 24 horas del día. <br> <br>
            Puedes tomarlas de manera grupal o individual. Dentro de nuestra plataforma, contarás con ejercicios prácticos
            creados para mejorar tu pronunciación, gramática y comprensión. Encontrarás también lecciones de inglés
            profesional y ejercicios de preparación para exámenes internacionales. Para avanzar de nivel, completa un
            número mínimo de clases en vivo, ejercicios y lecciones.
        </p>
    </div>

    <div class="imagen">
        <img src="./assets/comofunciona.png">
    </div>
</div>


<div class="clientes">

    <div class="imagenes">
        <div class="conteiner">
            <img class="imagen" src="./assets/juntosfuncionamiento.jpg">
        </div>
    </div>

    <div class="descripcion">
        <h2>Resultados de los estudiantes en <br> <br> X</h2>
        <p><strong>El 87<!-- -->&nbsp;<!-- -->% de las personas que aprenden</strong> para el <br> <br>
             desarrollo profesional <strong>reportan beneficios  <br> <br>
                profesionales</strong>, como obtener un ascenso, recibir un <br> <br>
                aumento o comenzar una nueva carrera.  <br> <br>
        </p>
        <p>Nuestra educacion te brinda un futuro mejor.</p>
        <button class="contacto">Únete de forma gratuita</button>
    </div>
</div>


<div class="empresas">

  <div class="descripcion">
      <h2>La solucion ideal para tu  negocio</h2>
      <p>Aprende con programas de capacitación y desarrollo de nivel mundial. <br> <br>
         Elegidos por las principales organizaciones de todo el mundo. Todo en  <br> <br>
         Coursera para empresas. 
      </p>
      <button class="contacto">Descubre X para empresas</button>
  </div>

  <div class="imagenes">
    <div class="conteiner">
        <img class="imagen" src="./assets/empresas9.png" alt="" width="550" height="360">
    </div>
  </div>

</div>

</body>