<main>
    <div class="cursos">
      <h2>Cursos</h2>
      <div class="container text-center">
        <div class="row row-cols-4">
          <div class="col"><h4>Curso</h4></div>
          <div class="col"><h4>Nivel</h4></div>
          <div class="col"><h4>Horas</h4></div>
          <div class="col-2"></div>
        </div>
      </div>
  
      <div class="cursos-existentes">
        <div *ngFor="let course of courses" class="container text-center">
          <div class="row row-cols-4 fila">
            <div class="col"><h4>{{ course.name }}</h4></div>
            <div class="col"><h4>{{ course.level }}</h4></div>
            <div class="col"><h4>{{ course.totalhours }}</h4></div>
            <div class="col-2">
              <button class="btnbasura" aria-label="Eliminar" (click)="deleteInsdialog(course.id)"><i class="bi bi-trash"></i></button>
              <button class="btneditar" aria-label="Editar" (click)="editCurso()"><i class="bi bi-pencil"></i></button>
            </div>
          </div>
        </div>
        <button class="btn-nuevo" (click)="newCourse()">Nuevo curso</button>
      </div>
    </div>
  </main>
